@media only screen and (max-width: 320px) {
    .offer {
        padding: 80px 0 183px 0;
    }

    .offer-title {
        &__head {
            padding: 0 70px;
            font-size: 20px;
            line-height: 25px;
        }

        &__text {
            padding: 11px 15px 30px 15px;
            font-size: 14px;
            line-height: 140%;
        }
    }

    .offer-boxs {
        flex-direction: column;

        &__left {
            margin-right: 0;
        }
    }

    .offer-box {
        width: 100%;
        border-radius: 0;
        margin-bottom: 10px;

        &__title {
            font-size: 16px;
            line-height: 18px;
        }

        &__title-head {
            width: 200px;
            line-height: 18px;
        }

        &__text {
            font-size: 14px;
            line-height: 140%;
        }
    }
}